*~
machinehand_dataset/
suicide_dataset/
suicide_dataset.small/
*.pth
suicide_dataset.small.cooked/
__pycache__/
temp/
#*
.#*
machinehand_dataset.tar
suicide_dataset.small.tar
suicide_dataset.tar
.ipynb_checkpoints/
*.tar
models/data/bible/train.long.txt
models/data/bible/train.small.txt
data/
models/data/wikitext-2/datasets/
models/examples/

