*~
machinehand_dataset/
machinehand_dataset.cropped/
machinehand_dataset.tensor/
suicide_dataset/
suicide_dataset.cropped/
suicide_dataset.handwritten/
suicide_dataset.tensor/
suicide_dataset.small/
suicide_dataset.small.cropped/
suicide_dataset.small.handwritten/
suicide_dataset.small.tensor/
suicide_dataset.small.cooked/
osborne_dataset/
osborne_dataset.cropped/
osborne_dataset.tensor/
*.pth
__pycache__/
temp/
#*
.#*
machinehand_dataset.tar
suicide_dataset.small.tar
suicide_dataset.tar
.ipynb_checkpoints/
*.tar
models/data/bible/train.long.txt
models/data/bible/train.small.txt
data/
models/data/wikitext-2/datasets/
models/examples/



